
.buildpath
/local/cache
/local/config/crypt.php
/local/config/db.php
/local/logs
/local/media
/logs/
noviusos.komodoproject
.project
/public/cache
/public/htdocs/cms
/public/htdocs/modules
/public/static/cms
/public/static/modules
.settings
.sass-cache
*.log
