.buildpath
/local/bootstrap.php
/local/cache
/local/config/crypt.config.php
/local/config/db.config.php
/local/data
/local/logs
/local/media
/local/applications/novius_publinova
/local/applications/labs_cheatsheet
/logs/
noviusos.komodoproject
.project
/public/cache
/public/media
/public/data
/public/htdocs/novius-os
/public/htdocs/apps
/public/static/novius-os
/public/static/apps
.settings
.sass-cache
*.log
.idea/
/local/views/novius-os
/fuelphp.php