
.buildpath
/local/bootstrap.php
/local/cache
/local/config/crypt.php
/local/config/db.php
/local/data
/local/logs
/local/media
/local/modules/novius_publinova
/local/modules/labs_cheatsheet
/logs/
noviusos.komodoproject
.project
/public/cache
/public/media
/public/data
/public/htdocs/novius-os
/public/htdocs/modules
/public/static/novius-os
/public/static/modules
.settings
.sass-cache
*.log
.idea/
/local/views/cms
