[submodule "novius-os"]
	path = novius-os
	url = git://github.com/novius-os/core.git
[submodule "local/applications/noviusos_blog"]
	path = local/applications/noviusos_blog
	url = git://github.com/novius-os/noviusos_blog.git
[submodule "local/applications/noviusos_blognews"]
	path = local/applications/noviusos_blognews
	url = git://github.com/novius-os/noviusos_blognews.git
[submodule "local/applications/noviusos_news"]
	path = local/applications/noviusos_news
	url = git://github.com/novius-os/noviusos_news.git
[submodule "local/applications/noviusos_comments"]
	path = local/applications/noviusos_comments
	url = git://github.com/novius-os/noviusos_comments.git
[submodule "local/applications/noviusos_templates_basic"]
	path = local/applications/noviusos_templates_basic
	url = git://github.com/novius-os/noviusos_templates_basic.git
