[submodule "novius-os"]
	path = novius-os
	url = git://github.com/novius-os/core.git
[submodule "local/applications/noviusos_blog"]
	path = local/applications/noviusos_blog
	url = git://github.com/novius-os/noviusos_blog.git
