@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\000031}}
#permissions {
  padding: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000312}}
.permissions .applications {
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000314}}
.permissions .applications .application {
  border: 1px solid #A8A8A8;
  border-radius: 5px 0 0 5px;
  border-right: 0px;
  height: 80px;
  position: relative;
  margin-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000323}}
.permissions .applications .application.all {
  height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000326}}
.permissions .applications .application.all .infos {
  line-height: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000331}}
.permissions .applications .application.all .maincheck .wijmo-checkbox {
  margin-top: 11px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000341}}
.permissions .applications .application:hover, .permissions .applications .application.selected {
  background-color: #F5F5F5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000345}}
.permissions .applications .application .maincheck {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 35px;
  border-radius: 5px 0 0 5px;
  background-color: #E8E8E8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000354}}
.permissions .applications .application .maincheck .wijmo-checkbox {
  margin-left: 8px;
  margin-top: 28px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000360}}
.permissions .applications .application .icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 35px;
  width: 100px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000367}}
.permissions .applications .application .icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/data\/www-local\/novius-os\/cms\/static\/css\/permissions\.scss}line{font-family:\0000376}}
.permissions .applications .application .infos {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 155px;
  right: 0px;
  line-height: 80px;
  font-size: 24px;
}
