<?php
/**
 * NOVIUS OS - Web OS for digital communication
 *
 * @copyright  2011 Novius
 * @license    GNU Affero General Public License v3 or (at your option) any later version
 *             http://www.gnu.org/licenses/agpl-3.0.html
 * @link http://www.novius-os.org
 */

return array(
    //'profiling' => false,

    // Uncomment, this line, and replace the value, if Novius-OS is installed in a subdirectory
    //'base_url' => 'http://www.yourdomain.com/novius-os-install-dir/',

    //'log_threshold'   => Fuel::$env === Fuel::DEVELOPMENT ? Fuel::L_WARNING : Fuel::L_ERROR,

    //'locale' => 'en_GB.utf8',

    //'novius-os' => array(
        //'cache' => true,
        //'cache_duration_page' => \Fuel::$env !== \Fuel::PRODUCTION ? 600 : 3600,
        //'cache_duration_function' => \Fuel::$env !== \Fuel::PRODUCTION ? 600 : 3600,
        //'cache_model_properties' => false, // Can be true or array('check_property_callback' => function($class, $property) { return true; })

        /*'users' => array(
            'enable_roles' => true,
        ),*/

        /*'upload' => array(
            'disabled_extensions' => array('php'),
        ),*/

        //'assets_minified' => Fuel::$env !== Fuel::DEVELOPMENT,

        // Uncomment this line when using a nginx server
        //'use_xsendfile' => 'X-Accel-Redirect',
    //),
);
